@(title: String = "Home", drivers: List[is.ru.honn.ruber.domain.DriverDTO])

@import play.api.Play.current

@main(title) {


    @if(session.get("username")) {

        <h2>Drivers</h2>

        <table>
			<tr>
				<th>Name</th>
				<th>Car</th>
			</tr>
        @for(driver <- drivers) {
            <tr>
				<td>
                	<a href="@routes.DriverController.details(driver.getId)">@driver.getName</a>
				</td>
				<td>
					<p>@driver.getCar()</p>
				</td>
            </tr>
        }
        </table>

    } else {

        <h2>This is not the Site you are looking for</h2>

    }
}